---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  interval: 30m
  values:
    controllers:
      ollama:
        replicas: 1
        containers:
          app:
            image:
              repository: ollama/ollama
              tag: 0.13.3@sha256:6c76395793f40a5e78f120e880ca82c67e39eb908ad90eee8ce755535529d0ec
            env:
              OLLAMA_HOST: 0.0.0.0
              # OLLAMA_KEEP_ALIVE: "24h"
              # OLLAMA_LOAD_TIMEOUT: "600"
              OLLAMA_FLASH_ATTENTION: "true"
              OLLAMA_KV_CACHE_TYPE: q8_0
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /healthz
            #         port: *port
            #       initialDelaySeconds: 10
            #       periodSeconds: 10
            #       timeoutSeconds: 5
            #       failureThreshold: 3
            #   readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
              limits:
                memory: 2Gi
                # memory: 5Gi
    defaultPodOptions:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 2000
    service:
      ollama:
        controller: ollama
        ports:
          http:
            port: &port 11434
    persistence:
      data:
        existingClaim: ollama
        globalMounts:
          - path: /.ollama
    route:
      app:
        hostnames:
          - ollama.aresu.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: ollama
                port: *port
