# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 3

  imageName: ghcr.io/cloudnative-pg/postgresql:18.0-standard-trixie@sha256:ffd3687c9c71b74d8a19f24c4c56366f42ee96f7c516ad2bf31fbeec5b0f9747

  enableSuperuserAccess: true

  superuserSecret:
    name: cloudnative-pg-secret

  storage:
    size: 5Gi

  # resources:
  #   limits:
  #     cpu: 500m
  #     memory: 256Mi
  #   requests:
  #     cpu: 50m

  bootstrap:
    # initdb: {}
    recovery:
      source: &src source

  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store cloudnative-pg-backups-store

  externalClusters:
    - name: *src
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: postgres

  monitoring:
    enablePodMonitor: true
    podMonitorMetricRelabelings:
      - { sourceLabels: ["cluster"], targetLabel: cnpg_cluster, action: replace }
      - { regex: cluster, action: labeldrop }

  postgresql:
    # parameters:
    #   dynamic_shared_memory_type: sysv
    #   shared_buffers: 128MB
    # pg_hba:
    #   - hostnossl all all 10.42.0.0/16      scram-sha-256
    #   - hostnossl all all 2001:cafe:42::/56 scram-sha-256
    #   - hostssl   all all all               cert clientcert=verify-full

    shared_preload_libraries:
      - "vchord.so"

    extensions:
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib
        extension_control_path:
          - /usr/share/postgresql/18/
    #   - name: postgis
    #     ld_library_path:
    #       - system
    #     image:
    #       reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558

  managed:
    services:
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: *name
              annotations:
                external-dns.alpha.kubernetes.io/hostname: postgres.aresu.eu
                lbipam.cilium.io/ips: ${SVC_POSTGRESQL_ADDR}
                # gatus.home-operations.com/enabled: "true"
                # gatus.home-operations.com/endpoint: |
                #   name: postgres
                #   conditions:
                #     - "[CONNECTED] == true"
                #   group: Services
                #   ui:
                #     hide-hostname: true
                #     hide-url: true
                #   alerts:
                #     - type: pushover
                #       send-on-resolved: true
            spec:
              type: LoadBalancer
          updateStrategy: patch
      disabledDefaultServices: ["r", "ro"]
