---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  chartRef:
    kind: OCIRepository
    name: syncthing
  interval: 30m
  values:
    controllers:
      syncthing:
        forceRename: syncthing
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          hostNetwork: true
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 2000
            runAsNonRoot: true
            runAsUser: 2000
        containers:
          app:
            image:
              repository: syncthing/syncthing
              tag: 2.0.13
            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            #   startup:
            #     enabled: true
            #     spec:
            #       failureThreshold: 30
            #       periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 500Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        forceRename: syncthing
        primary: true
        controller: syncthing
        ports:
          http:
            port: &port 8384
      listen:
        controller: syncthing
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.1.1.212
        ports:
          listen-tcp:
            port: 22000
            protocol: TCP
          listen-udp:
            port: 22000
            protocol: UDP
          discovery:
            port: 21027
            protocol: UDP
    persistence:
      data:
        existingClaim: syncthing-config
        globalMounts:
          - path: /var/syncthing/config
            subPath: config
      nas:
        type: nfs
        server: truenas.aresu.eu
        path: /mnt/tank/kubernetes/syncthing
        globalMounts:
          - path: /var/syncthing/Sync
            subPath: Sync
    route:
      app:
        hostnames:
          - syncthing.aresu.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
