---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
  - ../../components/cluster-settings
  - ../../components/flux-alerts
resources:
  - ./namespace.yaml
  - ./emby/ks.yaml
  - ./immich/ks.yaml
  - ./jellyfin/ks.yaml
  - ./plex/ks.yaml
  - ./plex-auto-languages/ks.yaml
  - ./plex-image-cleanup/ks.yaml
  - ./tautulli/ks.yaml
