---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    prometheus:
      enable: true
    master:
      resources:
        requests:
          cpu: 21m
          memory: 51Mi
        limits:
          memory: 51Mi
    worker:
      config:
        core:
          sources:
            - pci
            - system
            - usb
      resources:
        requests:
          cpu: 5m
          memory: 48Mi
        limits:
          memory: 48Mi
