# Folders
ignore/
logs/
testing/

# Trash
.DS_Store
Thumbs.db

# Sops
.decrypted~*
*.agekey
*.key

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

## Terraform variable definitions
*.tfvars
!.example.tfvars

## terraform plan output
*tfplan*

# Other files
kubeconfig
talosconfig
