---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
spec:
  chartRef:
    kind: OCIRepository
    name: snapshot-controller
  interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    controller:
      replicaCount: 2
      serviceMonitor:
        create: true
