---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emby
spec:
  chartRef:
    kind: OCIRepository
    name: emby
  interval: 30m
  values:
    controllers:
      emby:
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: emby-gpu
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            # supplementalGroups:
            #   - 44
            #   - 109
            #   - 100 # NAS: users
            #   - 1000
            #   - 1003 # NAS: nfs-user
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/emby
              tag: 4.9.3.0@sha256:7c33d88d0186ad7abcc6e53566e9db8766687daa5510cddc13094e25bc5a5dfb
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /identity
            #         port: &port 32400
            #       initialDelaySeconds: 10
            #       periodSeconds: 10
            #       timeoutSeconds: 5
            #       failureThreshold: 3
            #   readiness: *probes
            #   startup:
            #     enabled: true
            #     spec:
            #       failureThreshold: 30
            #       periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.1.1.213
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8096
    persistence:
      config:
        existingClaim: emby
        advancedMounts:
          emby:
            app:
              - path: /config
      emby-cache:
        existingClaim: emby-cache
        advancedMounts:
          emby:
            app:
              - path: /config/cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          emby:
            app:
              - path: /transcode
                subPath: transcode
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
      media:
        type: nfs
        server: "truenas.aresu.eu"
        path: /mnt/tank/media
        advancedMounts:
          emby:
            app:
              - path: /media
    route:
      app:
        hostnames:
          - emby.aresu.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
