---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: immich-secret
    creationPolicy: Owner
    template:
      data:
        # Immich
        DB_DATABASE_NAME: &dbname immich
        DB_HOSTNAME: &dbhost postgres-rw.database.svc.cluster.local
        DB_USERNAME: &dbuser "{{ .POSTGRES_USER }}"
        DB_PASSWORD: &dbpass "{{ .POSTGRES_PASSWORD }}"
        JWT_SECRET: "{{ .JWT_SECRET }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: immich
    - extract:
        key: cloudnative-pg
