---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 30m
  dependsOn:
    - name: longhorn
      namespace: longhorn
  values:
    configMaps:
      config:
        data:
          DB_PORT: "5432"
          DISABLE_REVERSE_GEOCODING: "true"
          ENABLE_MAPBOX: "false"
          LOG_LEVEL: verbose
          NODE_ENV: "production"
          REDIS_HOSTNAME: immich-redis.media.svc.cluster.local
          REDIS_PORT: "6379"
      # initdb:
      #   data:
      #     immich.sql: |-
      #       CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE;
      #       CREATE EXTENSION IF NOT EXISTS vector CASCADE;
    controllers:
      server:
        annotations:
          secret.reloader.stakater.com/reload: immich-secret
          configmap.reloader.stakater.com/reload: immich-configmap
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: immich-secret
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  identifier: config
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 4096Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
      machine-learning:
        annotations:
          secret.reloader.stakater.com/reload: immich-secret
          configmap.reloader.stakater.com/reload: immich-configmap
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1@sha256:b3deefd1826f113824e9d7bc30d905e7f823535887d03f869330946b6db3b44a
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  identifier: config
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
      redis:
        containers:
          main:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.4.0@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7
            env:
              REDIS_REPLICATION_MODE: master
            command: ["redis-server"]
    service:
      server:
        controller: server
        ports:
          http:
            port: &port 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      redis:
        controller: redis
        ports:
          http:
            port: 6379
    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /config/matplotlib
      library:
        type: nfs
        server: "truenas.aresu.eu"
        path: /mnt/tank/kubernetes/immich
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/upload
      machine-learning-cache:
        existingClaim: immich-machine-learning-cache
        advancedMounts:
          machine-learning:
            main:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
      # initdb:
      #   type: configMap
      #   identifier: initdb
      #   advancedMounts:
      #     server:
      #       init-db:
      #         - path: /initdb
    serviceMonitor:
      server:
        enabled: true
        serviceName: server
        endpoints:
          - port: metrics-api
            scheme: http
            path: /metrics
          - port: metrics-ms
            scheme: http
            path: /metrics
    route:
      app:
        hostnames:
          - immich.aresu.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: server
                port: *port
