---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        # # Generics
        HOMEPAGE_VAR_LATITUDE: "{{ .homeassistant_latitude }}"
        HOMEPAGE_VAR_LONGITUDE: "{{ .homeassistant_longitude }}"

        HOMEPAGE_VAR_OPENWEATHERMAP_TOKEN: "{{ .openweathermap_homepage_api_key }}"

        # ## HASS
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .homeassistant_homepage_token }}"

        ## Media
        HOMEPAGE_VAR_FRESHRSS_USERNAME: "{{ .freshrss_username }}"
        HOMEPAGE_VAR_FRESHRSS_PASSWORD: "{{ .freshrss_password }}"
        HOMEPAGE_VAR_IMMICH_TOKEN: "{{ .immich_homepage_api_key }}"
        HOMEPAGE_VAR_JELLYFIN_APIKEY: "{{ .jellyfin_api_key }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .plex_token }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .tautulli_homepage_api_key }}"

        ## Downloads
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .bazarr_api_key }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .lidarr_api_key }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .radarr_api_key }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .sonarr_api_key }}"
        HOMEPAGE_VAR_READARR_TOKEN: "{{ .readarr_api_key }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .prowlarr_api_key }}"
        HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .qbittorrent_username }}"
        HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .qbittorrent_password }}"

        ## Hardware
        HOMEPAGE_VAR_MIKROTIK_USERNAME: "{{ .mikrotik_homepage_username }}"
        HOMEPAGE_VAR_MIKROTIK_PASSWORD: "{{ .mikrotik_homepage_password }}"

        ## Services
        HOMEPAGE_VAR_PROXMOX_TOKEN: "{{ .proxmox_homepage_token }}"
        HOMEPAGE_VAR_PROXMOX_SECRET: "{{ .proxmox_homepage_secret }}"
        HOMEPAGE_VAR_TRUENAS_USERNAME: "{{ .truenas_username }}"
        HOMEPAGE_VAR_TRUENAS_PASSWORD: "{{ .truenas_password }}"
        HOMEPAGE_VAR_KARAKEEP_TOKEN: "{{ .karakeep_homepage_api_key }}"
        HOMEPAGE_VAR_FORGEJO_TOKEN: "{{ .forgejo_homepage_token }}"
        HOMEPAGE_VAR_SYNCTHING_TOKEN: "{{ .syncthing_api_key }}"
        HOMEPAGE_VAR_OPENMEDIAVAULT_USERNAME: "{{ .openmediavault_username }}"
        HOMEPAGE_VAR_OPENMEDIAVAULT_PASSWORD: "{{ .openmediavault_password }}"
  dataFrom:
    - extract:
        key: bazarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "bazarr_$1"
    - extract:
        key: Forgejo
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "forgejo_$1"
    - extract:
        key: HomeAssistant
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "homeassistant_$1"
    - extract:
        key: OpenWeatherMap
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "openweathermap_$1"
    - extract:
        key: freshrss
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "freshrss_$1"
    - extract:
        key: karakeep
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "karakeep_$1"
    - extract:
        key: immich
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "immich_$1"
    - extract:
        key: jellyfin
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "jellyfin_$1"
    - extract:
        key: lidarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "lidarr_$1"
    - extract:
        key: mikrotik
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "mikrotik_$1"
    - extract:
        key: "Odroid HC4 - OpenMediaVault UI"
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "openmediavault_$1"
    - extract:
        key: plex
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "plex_$1"
    - extract:
        key: proxmox
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "proxmox_$1"
    - extract:
        key: prowlarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "prowlarr_$1"
    - extract:
        key: qbittorrent
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "qbittorrent_$1"
    - extract:
        key: radarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "radarr_$1"
    - extract:
        key: readarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "readarr_$1"
    - extract:
        key: sonarr
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "sonarr_$1"
    - extract:
        key: syncthing
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "syncthing_$1"
    - extract:
        key: tautulli
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "tautulli_$1"
    - extract:
        key: truenas
      rewrite:
        - regexp:
            source: "[^a-zA-Z0-9-]"
            target: "_"
        - regexp:
            source: "(.*)"
            target: "truenas_$1"
