---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
components:
  - ../../components/cluster-settings
  - ../../components/flux-alerts
resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./bichon/ks.yaml
  - ./atuin/ks.yaml
  - ./freshrss/ks.yaml
  - ./garage/ks.yaml
  - ./homepage/ks.yaml
  - ./it-tools/ks.yaml
  - ./karakeep/ks.yaml
  - ./n8n/ks.yaml
  - ./paperless/ks.yaml
  - ./syncthing/ks.yaml
  - ./unifi/ks.yaml
  - ./webhook/ks.yaml
