---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whisper
spec:
  chartRef:
    kind: OCIRepository
    name: whisper
  interval: 30m
  values:
    controllers:
      whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          # annotations:
          #   k8s.v1.cni.cncf.io/networks: |
          #     [{
          #       "name":"multus-iot",
          #       "namespace": "network",
          #       "ips": ["10.1.3.153/24"],
          #       "mac": "76:fa:11:c0:c9:84"
          #     }]
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
          terminationGracePeriodSeconds: 1
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.0.2@sha256:995b37523bc422f4f7649e50ccded97a5b9bf6d1d0420591183a778dd5d7d3f2
            args:
              - --model
              - base-int8
              - --language
              - it
              - --data-dir
              - /data
              - --download-dir
              - /data
            ports:
              - name: wyoming
                containerPort: &port 10300
                protocol: TCP
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 400Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          wyoming:
            port: *port
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /.cache
            subPath: cache
          - path: /data
            subPath: data
          - path: /tmp
            subPath: tmp
