---
machine:
  install:
    disk: /dev/sda
    image: factory.talos.dev/metal-installer/88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b:v1.12.2
  nodeLabels:
    node.kubernetes.io/virtual: "true"
    node.longhorn.io/create-default-disk: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  maxSize: 50GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 40GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: '!system_disk'
  grow: true
  minSize: 50GiB
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kube-proxmox-01
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "virtio_net" && mac(link.permanent_addr).startsWith("bc:24:11:41:")
