---
machine:
  install:
    diskSelector:
      model: KINGSTON OM8PGP41024Q-A0
    image: factory.talos.dev/metal-installer/93552e00781bdd8552dceeb8e54c556142fcae6ebe650814674887695a436f72:v1.11.1
  network:
    hostname: kube-minisforum-01.aresu.eu
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:78:51:3f
          mode: active-backup
        dhcp: true
        vip:
          ip: 10.17.1.8
        vlans:
          - vlanId: 50
            dhcp: false
            mtu: 1500
  nodeLabels:
    node.kubernetes.io/virtual: "false"
    node.longhorn.io/create-default-disk: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  maxSize: 50GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  maxSize: 50GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: 'system_disk'
  grow: true
  minSize: 50GiB
