---
machine:
  install:
    diskSelector:
      model: UDSS UD2CS1HT100
    image: factory.talos.dev/metal-installer/8d37fcc01bb9173406853e7fd97ad9eda40732043f88e09dafe55e53fcf4b510:v1.12.2
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    node.kubernetes.io/virtual: "false"
    node.longhorn.io/create-default-disk: "true"
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  maxSize: 50GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  grow: false
  maxSize: 50GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: system_disk
  minSize: 300GiB
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kube-bmax-01
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "r8169" && mac(link.permanent_addr).startsWith("00:e0:4c:2e:")
