---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vlmcsd
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: vlmcsd
  # dependsOn:
  #   - name: cloudflared
  #     namespace: network
  values:
    controllers:
      vlmcsd:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: mikolatero/vlmcsd
              tag: latest@sha256:aadb2a388754691687bc040f13a18bfc787ff67b1d0fcebf171f5361f54a5d0c
            env: {}
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /healthz
            #         port: *port
            #       initialDelaySeconds: 10
            #       periodSeconds: 10
            #       timeoutSeconds: 5
            #       failureThreshold: 3
            #   readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "{{ .Release.Name }}.aresu.eu"
          lbipam.cilium.io/ips: ${SVC_VLMCSD_ADDR}
        ports:
          http:
            port: 1688
