---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: tqm
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 2000
    controllers:
      tqm:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: "@hourly"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 0
          ttlSecondsAfterFinished: 3600
        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.19.0@sha256:025ee0c0c8b75f4c7bffa90216eedb494b9884e092a47e9c49824fe63427808c
            args:
              - retag
              - qb
              # - --dry-run
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          clean:
            <<: *container
            args:
              - clean
              - qb
              # - --dry-run
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: 0 0 * * 0
          suspend: true
        containers:
          app:
            <<: *container
            args:
              - orphan
              - qb
              # - --dry-run
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      config-file:
        type: secret
        name: tqm-secret
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
            readOnly: true
      downloads:
        type: nfs
        server: truenas.aresu.eu
        path: /mnt/tank/media
        globalMounts:
          - path: /data/media/Downloads
            subPath: Downloads
