---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
  interval: 30m
  values:
    serviceMonitor:
      create: true
