[defaults]
inventory = inventory
roles_path = ./roles
# display_args_to_stdout = true

[privilege_escalation]
become = false
become_method = sudo
become_user = truenas_admin
become_ask_pass = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
