---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: externaldns-mikrotik
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: externaldns-mikrotik-secret
    creationPolicy: Owner
  data:
    - secretKey: MIKROTIK_USERNAME
      remoteRef:
        key: Mikrotik
        property: external_dns_username
    - secretKey: MIKROTIK_PASSWORD
      remoteRef:
        key: Mikrotik
        property: external_dns_password
    - secretKey: MIKROTIK_BASEURL
      remoteRef:
        key: Mikrotik
        property: external_dns_baseurl
    - secretKey: MIKROTIK_SKIP_TLS_VERIFY
      remoteRef:
        key: Mikrotik
        property: external_dns_skip_tls_verify
