---
# yaml-language-server: $schema=https://k8s-schemas.aresu.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname zigbee2mqtt
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: longhorn-volumesnapshotclass
      namespace: longhorn
  interval: 1h
  path: "./kubernetes/apps/home-automation/zigbee2mqtt/app"
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: zigbee2mqtt-data
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home-automation
  timeout: 5m
  wait: false
