---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyplex-watched
spec:
  chartRef:
    kind: OCIRepository
    name: jellyplex-watched
  interval: 30m
  values:
    controllers:
      jellyfin-sync:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: 0 * * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 3600
        pod:
          hostUsers: false
          restartPolicy: Never
        containers:
          app:
            image:
              repository: ghcr.io/luigi311/jellyplex-watched
              tag: 8.5.0@sha256:f77aca6bb15c68bdd0bb08fec8c224c9aae534cb65ec0f582d052e850a1ad973
            envFrom:
              - secretRef:
                  name: jellyfin-sync-secret
            env:
              DEBUG_LEVEL: debug
              DRYRUN: false
              JELLYFIN_BASEURL: http://jellyfin.media.svc.cluster.local:8096
              LOGFILE: /tmp/sync.log
              MARK_FILE: /tmp/mark.log
              PLEX_BASEURL: http://plex.media.svc.cluster.local:32400
              RUN_ONLY_ONCE: true
              LIBRARY_MAPPING: '{"Movies - ENG": "Movies (EN)", "Movies - ITA": "Movies (IT)", "TV Shows - ENG": "Shows (EN)", "TV Shows - ITA": "Shows (IT)"}'
              USER_MAPPING: '{"giorgioaresu": "giorgio"}'
              WHITELIST_LIBRARY: Movies (EN),Movies (IT),Shows (EN),Shows (IT)
              WHITELIST_USERS: giorgio
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
